{% extends "base.html" %}

{% block content %}
<section id="columnas" style="padding: 2% 0;">
    <div class="container">
        <h2 class="text-center" style="padding-top: 2%; font-family: 'Arial', sans-serif; color: #2c3e50;">Acerca de Nosotros</h2>
        <p class="text-center" style="padding-bottom: 3%; font-size: 1.1rem; color: #7f8c8d;">
            Bienvenidos a Flanes Deliciosos, donde transformamos ingredientes simples en un postre irresistible que
            deleita a todos. Somos una empresa apasionada por la elaboración de flanes artesanales de la más alta
            calidad, comprometidos con ofrecer una experiencia culinaria única a nuestros clientes.
        </p>
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 text-center" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 20px;">
                    <div class="iconoa mb-3" style="color: #00c3ff;">
                        <i class="fa-solid fa-globe fa-2x"></i>
                    </div>
                    <h5 class="card-title" style="font-family: 'Arial', sans-serif; color: #2c3e50;">Nuestra historia</h5>
                    <p class="card-text" style="font-size: 1rem; color: #7f8c8d;">
                        Nuestra historia comenzó hace más de una década, en una pequeña cocina familiar, donde descubrimos la magia de hacer flan. Inspirados por las recetas tradicionales, decidimos compartir nuestro delicioso flan con el mundo. Desde entonces, hemos crecido y evolucionado, pero nuestra misión sigue siendo la misma: crear flanes deliciosos que hagan sonreír a quienes los prueban.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 text-center" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 20px;">
                    <div class="iconob mb-3" style="color: #00c3ff;">
                        <i class="fas fa-crown fa-2x"></i>
                    </div>
                    <h5 class="card-title" style="font-family: 'Arial', sans-serif; color: #2c3e50;">Compromiso con la calidad</h5>
                    <p class="card-text" style="font-size: 1rem; color: #7f8c8d;">
                        La calidad es el corazón de todo lo que hacemos. Cada flan que sale de nuestra cocina es el resultado de un meticuloso proceso de elaboración, desde la selección de los ingredientes hasta el empaque final. Nos dedicamos a mantener los más altos estándares de higiene y seguridad alimentaria, para que puedas disfrutar de nuestros productos con total confianza.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 text-center" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 20px;">
                    <div class="iconoc mb-3" style="color: #00c3ff;">
                        <i class="fas fa-glasses fa-2x"></i>
                    </div>
                    <h5 class="card-title" style="font-family: 'Arial', sans-serif; color: #2c3e50;">Nuestra Mision</h5>
                    <p class="card-text" style="font-size: 1rem; color: #7f8c8d;">
                        Nuestra misión es simple: endulzar la vida de nuestros clientes con flanes irresistibles. Nos esforzamos por innovar y mejorar continuamente, siempre buscando nuevas formas de sorprender y deleitar a nuestros consumidores. La satisfacción de nuestros clientes es nuestra mayor recompensa, y trabajamos arduamente para superar sus expectativas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}